{% extends "layout.html" %}

{% block pageTitle %}
  As a British citizen
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/uk-live-previous">Back</a>
{% endblock %}

{% block content %}


      <p class="govuk-body govuk-!-font-size-48" style="font-family: monospace">Nationality stored as <b>Britsh</b></p>

      <p class="govuk-body govuk-!-font-size-48" style="font-family: monospace">Previous residence stored as <b>{{ data['uk-live-previous']|capitalize }}</b></p>

      <p class="govuk-body govuk-!-font-size-48" style="font-family: monospace">User continues on overseas journey</p>


{% endblock %}
