{% extends "layout.html" %}

{% block pageTitle %}
  As an Irish citizen
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/how-do-you-want-to-register">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-font-size-48" style="font-family: monospace">Nationality stored as <b>Irish</b></p>

      <p class="govuk-body govuk-!-font-size-48" style="font-family: monospace">Continue on overseas journey</p>

    </div>
  </div>

{% endblock %}
